.grid {
  display: grid;
  gap: 5px;
}

#footer {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #main {
    display: flex;
    flex-direction: column;
  }
}
