h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    var(--red) 40%,
    var(--white) 65%,
    var(--blue) 100%
  );
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  color: var(--white);
}
h3 {
  font-size: 1.5rem;
  color: var(--red);
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}
